
body{
    background-image: url(../img/-lion-wallpaper-exotic-cats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;

      
}

.cartao{
    background-color:  rgb(7, 1, 10); /* caso o browsers não suporte o gradiente */
    width: 370px;
    
    border: outset rgb(83, 81, 83);
    border-radius: 30px;
    overflow: hidden;
    background-image: linear-gradient(rgb(7, 1, 10), rgb(43, 40, 42));
    
    
}

.abas img{
    width: 30px;
}

.minhas-informacoes{
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center; /*alinha horizontalmente por causa do flex direction column*/
    gap: 5px;
}

.minhas-informacoes img{
    width: 150px;
    height: 150px;
    border: 5px solid;
    padding: 1px;
    border-color: rgb(238, 210, 52)
    
    
       
}

.minhas-informacoes .nome{
    font-size: 40px;
    color: rgb(121, 117, 119);
    
}

.minhas-informacoes .cargo{
    font-family: Rajdhani, sans-serif;
    font-size: 20px;
    color: whitesmoke;
    display: flex;
    
}

.cartao .coteudo{
    background-color: rgb(238, 210, 52);
    margin-top: 15px;
}
.cartao .abas{
    display: flex;
}
.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0. 2s ease-in-out;
}

.cartao .abas .aba.selecionada{
    /* background-color:rgb(51, 3, 78);*/ 
    background-image: linear-gradient (rgb(7, 1, 10), rgb(43, 40, 42));
}
.cartao .informacoes-abas{
    /* background-color:rgb(51, 3, 78);*/
    background-image: linear-gradient (rgb(7, 1, 10), rgb(43, 40, 42));
}

.cartao .abas .aba:hover{
    background-color: #535053;
  
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
        
}

.informacoes-abas .informacao.selecionada{
    display: block;
}

.informacoes-abas .sub-titulo{
    font-family:'Rajdhani', sans-serif; 
    font-size: 30px; 
    margin-bottom: 25px;
    text-align: center;
    color: rgb(238, 210, 52);
}
.informacoes-abas .descricao{
    font-family:'Chakra Petch', sans-serif; ;
    font-size: 15px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
    text-align: center;
       
}

.informacoes-abas .pessoal{
    text-align: justify;
}

.informacoes-abas .descricao span{
    color:  rgb(238, 210, 52)
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;

}
.redes-sociais li a{
    background-color: cadetblue;
    width: 250px;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a:hover{
    opacity: 0.8;
}
.redes-sociais .curriculo{
    background-color: teal;
    
}

.redes-sociais .linkedin{
    background-color: aqua;
}

.redes-sociais .github{
    background-color: aquamarine;
}